{% extends 'base_generic.html' %}

{% block content %}
  <h1>Books</h1>
  <a href="{% url 'book_new' %}" class="btn">Add new book</a>
  
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
      <tr>
        <td><a href="{% url 'book_detail' book.pk %}">{{ book.title }}</a></td>
        <td>
          <a href="{% url 'book_edit' book.pk %}">Edit</a> |
          <a href="{% url 'book_delete' book.pk %}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
